* {
    padding: 0;
    margin: 0;
}

#register-screen {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    background-color: #FE901E;
}

#bg {
    width: 100%;
    height: 35%;
}

#register {
    width: auto;
    height: 65%;
    background-color: white;
    border-radius: 30px 30px 0px 0px;
    padding: 10%;
    padding-top: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#register div h2 {
    font-family: 'Product Sans';
    font-size: 32px;
    color: #363636;
}

#registerForm {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#registerForm label{
    font-family: 'Product Sans';
    font-weight: 300;
    font-size: 18px;
    margin-top: 25px;
}

#registerForm input {
    height: 45px;
    border-radius: 12px;
    border: 1px solid rgb(78, 78, 78);
    font-family: 'Product Sans';
    padding: 0 20px;
}

#registerForm button {
    background-color: #FE901E;
    color: white;
    font-family: 'Product Sans';
    border: none;
    margin: 8% 0;
    padding: 15px;
    font-size: 18px;
    border-radius: 50px;
    font-weight: 600;
}

#inicia-sesión {
    text-align: center;
}

#inicia-sesión p{
    font-family: 'Product Sans';
    font-weight: 600;
    color: #363636;
}

#inicia-sesión p a {
    text-decoration: none;
    color: #118319;
}

#register-image {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 18%;
}

#alergias-screen {
    padding: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#alergias-screen h2{
    font-family: 'Product Sans';
    font-size: 32px;
    color: #363636;
}

#alergias-screen p{
    font-family: 'Gilroy';
    font-size: 20px;
    color: #363636;
}

#alergia-select {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 10px;
}

#alergia-select div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
}

#alergia-select div img {
    width: 100%;
}

#alergia-select div p {
    font-size: 16px;
}

#checkbox-container img{
    transition: opacity 0.3s ease;
}

#alergias-button {
    background-color: #FE901E;
    color: white;
    font-family: 'Product Sans';
    border: none;
    margin: 8% 0;
    padding: 15px;
    font-size: 18px;
    border-radius: 50px;
    font-weight: 600;
}

#gustos-screen {
    padding: 10%;
    overflow: auto;
}

#gustos-header h2 {
    font-family: 'Product Sans';
    font-size: 32px;
    color: #363636;
}

#gustos-header p {
    font-family: 'Gilroy';
    font-size: 23px;
    color: #363636;
    margin-top: 20px;
}

#gustos-recomendation {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

#gustos-recomendation p {
    font-family: 'Product Sans';
    font-size: 15px;
    color: #363636;
    font-weight: 300;
    margin-bottom: 20px;
}

#gustos-sliders {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#card-slider {
    border-radius: 30px 30px 30px 0px;
    border:  1px solid #118319;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#card-slider h4 {
    font-family: 'Product Sans';
    font-size: 16px;
    color: #363636;
    font-weight: 300;
}

#slider-markers {
    display: flex;
    justify-content: space-between;
    font-family: 'Product Sans';
    font-size: 16px;
    color: #363636;
    font-weight: 300;
    padding: 0 5px;
}

#sliders-markers-p {
    display: flex;
    justify-content: space-between;
    font-family: 'Product Sans';
    font-size: 12px;
}

#gustos-button {
    background-color: #FE901E;
    color: white;
    font-family: 'Product Sans';
    border: none;
    margin: 8% 0;
    padding: 15px;
    font-size: 18px;
    border-radius: 50px;
    font-weight: 600;
    width: 100%;
}

#register-screen {
    display: none;
}

#alergias-screen {
    display: none;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    border-radius: 5px;
    background: rgba(254, 144, 30, 0.18);
    outline: none;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #FE901E;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
  }


@font-face {
    font-family: 'Gilroy';
    src: url('../public/fonts/Gilroy-Regular.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../public/fonts/Gilroy-Bold.ttf') format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: 'Product Sans';
    src: url('../public/fonts/ProductSans-Light.ttf') format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: 'Product Sans';
    src: url('../public/fonts/ProductSans-Regular.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'Product Sans';
    src: url('../public/fonts/ProductSans-Medium.ttf') format('truetype');
    font-weight: 600;
}